altair==4.2.0
attrs==22.1.0
blinker==1.5
brotlipy @ file:///D:/bld/brotlipy_1666764804378/work
cachetools==5.2.0
certifi==2022.9.24
cffi @ file:///D:/bld/cffi_1666754925774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///D:/bld/click_1666798499870/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
commonmark==0.9.1
cryptography @ file:///D:/bld/cryptography_1667423014790/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
decorator==5.1.1
entrypoints==0.4
future @ file:///home/conda/feedstock_root/build_artifacts/future_1666786049710/work
gitdb==4.0.9
GitPython==3.1.29
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata==5.0.0
Jinja2==3.1.2
jsonschema==4.17.0
MarkupSafe==2.1.1
numpy @ file:///D:/bld/numpy_1666788367319/work
packaging==21.3
pandas==1.5.1
Pillow @ file:///D:/bld/pillow_1666920753896/work
protobuf==3.20.3
pyarrow==10.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydeck==0.8.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
Pympler==1.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1664752510089/work
semver==2.13.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
six==1.16.0
smmap==5.0.0
streamlit==1.14.1
toml==0.10.2
toolz==0.12.0
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1667832226065/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata==2022.6
tzlocal==4.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
validators==0.20.0
watchdog==2.1.9
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zipp==3.10.0
